.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

*.gem
*.rbc
.DS_Store
.bundle
.rvmrc
.ruby-version
.yardoc
.rake_tasks~
Gemfile.lock
coverage/*
doc/*
log/*
pkg/*
.idea/*

# the fingerbank database
fingerbank.sqlite

# vim swap files
*.swp
